*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    padding: 3em;
    display: flex;
}

.side-bar{
    width: 20%;
    background: rgb(14, 14, 61);
    color: white;

}

main{
    width: 80%;
}