*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
.print-area{
    width: 80;
    margin: 20px;auto;
}
.print-area .header{
    width: 100%;
    background-color: rgb(219, 226, 233);
display: flex;
align-items: center;
position: relative;

}

.header img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
   top: 50px; 
   left: 60px;
   border: 5px solid white;
box-shadow: 3px 3px 10px;rgba(0,0,.5);
cursor: pointer;
transition: .5s;
user-select: none;
filter: grayscale(100%);

}

.header img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
box-shadow: 3px 3px 10px;rgba(0,0,.5);

}
.header-text{
color: white;
width: 60;
margin-left: auto;
}
.header-text h1{
    font-size: 80px;
    font-weight: normal;
}
.header-text{
    font: 20px;
    color: lightgray;
}
.content{
    display: flex;
    flex-wrap: wrap;
}
.left-area{
    width: 30%;
    background-color: rgb(236, 228, 228);
}
.right-area{
    width: 70%;
}
